{% extends 'base.html' %}

{% block content %}

<div class="box">
    <form class="pure-form" action="/api/add" method="POST" id="new-watch-form">
        <fieldset>
            <legend>Add a new change detection watch</legend>
            <input type="url" placeholder="https://..." name="url"/>
            <input type="text" placeholder="tag" size="10" name="tag" value="{{show_tag if show_tag}}"/>
            <button type="submit" class="pure-button pure-button-primary"> Watch </button>
        </fieldset>
    </form>
    <div>
        <a href="/" class="pure-button button-tag {{'active' if not show_tag }}"> All </a>
        {% for tag in tags %}
            {% if tag != "" %}
                <a href="/?tag={{ tag }}" class="pure-button button-tag {{'active' if show_tag == tag }}"> {{ tag }} </a>
            {% endif %}
        {% endfor %}
    </div>

    <div id="watch-table-wrapper">
        <table class="pure-table pure-table-striped watch-table">
            <thead>
                <tr>
                    <th> # </th>
                    <th> </th>
                    <th> </th>
                    <th> Last Checked </th>
                    <th> Last Changed </th>
                    <th> </th>
                </tr>
            </thead>

            <tbody>
            {% for web_container in web_containers %}
                <tr id="{{ web_container.id }}" class="{{ loop.cycle('pure-table-odd', 'pure-table-even') }}">
                    <td class="inline">{{ loop.index }}</td>
                    <td class="inline pause-state state-{{web_container.setting.pause}}">
                        <a href="/?pause={{ web_container.id }}">
                            <img src="/static/images/pause.svg" alt="Pause"/>
                        </a>
                    </td>
                    <td class="title-col inline">
                        {{ web_container.setting.title }}
                        <a class="external" target="_blank" rel="noopener" href="{{ web_container.setting.url }}"></a>
                        {% if web_container.setting.last_error is defined and web_container.setting.last_error != False %}
                            <div class="fetch-error">{{ web_container.setting.last_error }}</div>
                        {% endif %}
                        {% for tag in web_container.setting.tags %}
                            <span class="watch-tag-list"> {{ tag }} </span>
                        {% endfor %}
                    </td>
                    <td class="last-checked"> {{ web_container | format_last_checked_time }} </td>
                    <td class="last-changed">
                        <!-- {% if web_container.history | length >= 2 and web_container.last_changed %}
                        {{web_container.last_changed | format_timestamp_timeago}}
                        {% else %}
                        Not yet
                        {% endif %} -->
                    </td>
                    <td>
                        <a href="/api/checknow?uuid={{ web_container.id }}{% if request.args.get('tag') %}&tag={{request.args.get('tag')}}{% endif %}" class="pure-button button-small pure-button-primary"> Recheck </a>
                        <a href="/edit/{{ web_container.id }}" class="pure-button button-small pure-button-primary"> Edit </a>
                        {% if web_container.history | length >= 2 %}
                            <a href="/diff/{{ web_container.id }}" target="{{ web_container.id }}" class="pure-button button-small pure-button-primary"> Diff </a>
                        {% else %}
                            {% if web_container.history | length == 1 %}
                                <a href="/preview/{{ web_container.id }}" target="{{ web_container.id }}" class="pure-button button-small pure-button-primary"> Preview </a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <ul id="post-list-buttons">
            {% if has_unviewed %}
                <li>
                    <a href="/api/mark-all-viewed" class="pure-button button-tag ">Mark all viewed</a>
                </li>
            {% endif %}
            <li>
               <a href="/api/checknow" class="pure-button button-tag ">
                    Recheck all {% if show_tag %}in "{{ show_tag }}"{% endif %}
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}